
.jornada {
    text-align: center;
}

.g {
    color: green;
    text-align: center;
}

.p {
    color: red;
    text-align: center;
}

.e {
    color: orange;
    text-align: center;
}

.prox {
    font-style: italic;
    text-align: center;
}